/* All of the game style variables */
:root {
    --tiles-gap: 10px;
    --tile-size: 100px;
    --page-background-color: orange;
    --tile-background-color: crimson;
    --tile-border-radius: 15px;
    --tile-border: 3px solid white;
    --tile-box-shadow: 0px 0px 0px 2px var(--tile-background-color);
    --title-font: cursive;
    --tile-inner-text-font: cursive;
    --tile-inner-text-color: white;
    --tile-inner-text-size: 2rem;
    --game-stats-padding: 15px;
}

#game-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--page-background-color);
    background: var(--tile-inner-text-color);
    font-family: var(--tile-inner-text-font);
    font-size: var(--tile-inner-text-size);
    padding-left: var(--game-stats-padding);
    border-radius: var(--tile-border-radius);
    font-weight: 800;
}

#clicks {
    background: var(--tile-background-color);
    padding: var(--game-stats-padding);
    color: white;
    border-radius: var(--tile-border-radius);
}

body {
    background: var(--page-background-color);
}

#game-title {
    color: white;
    font-family: var(--title-font);
    font-size: 3rem;
}

.game-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--tiles-gap);
}

.game-board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: var(--tiles-gap);
}

.tile {
    height: var(--tile-size);
    width: var(--tile-size);
    background: var(--tile-background-color);
    border-radius: var(--tile-border-radius);
    border: var(--tile-border);
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile span {
    color: var(--tile-inner-text-color);
    font-family: var(--tile-inner-text-font);
    font-size: var(--tile-inner-text-size);
}

.tile:hover {
    box-shadow: var(--tile-box-shadow);
    transform: scale(1.1);
    cursor: pointer;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#new-game-btn {
    display: none;
    color: orange;
    border: none;
    background: white;
    padding: 15px;
    font-size: 1.7rem;
    font-family: cursive;
    border-radius: 15px;
    font-weight: 800;
    transition: all 0.2s ease-in-out;
}

#new-game-btn:hover {
    background: orange;
    color: white;
    box-shadow: 0px 0px 0px 5px white;
    cursor: pointer;
}